{% extends 'layout.html' %}
{% block body %}
	<script type="text/javascript">
	$(document).ready(function(){

		var home_url = '{{ home_url }}';

		$("#btnPosBook").click(function(){
			window.location.href=home_url+'/joernalia/page/KASIR';
		});
	});
	</script>
	<style type="text/css">
	table, th,td{
		border: 1px solid black;
		border-collapse: collapse;
	}
	th,td{
		padding: 5px;
		text-align: left;
	}
	thead td{
		text-align: center;
	}
	.spacer{
		margin: 10px;
	}
	</style>
	<body>
		<div class="container">
			
			<div class="panel panel-primary spacer">
				<!-- kasih variable di sini -->
				<div class="panel-heading">
					BUKU BESAR
				</div>
				<table class="table table-striped" id="mainTable">
					<thead>
						<tr>
							<td>Tanggal</td>
							<td>ID Transaksi</td>
							<td>Kredit</td>
							<td>Debit</td>
							<td>Catatan</td>
						</tr>
					</thead>
					<tbody>
						{% for entry in entries %}
						<tr>
							<td>{{ '{0}-{1}-{2}'.format(entry.date.day,entry.date.month, entry.date.year) }}</td>
							<td>{{ entry.accountingId }}</td>
							<td>{% if(entry.accountingType=='KREDIT') %} {{ entry.amount }} {% endif %}</td>
							<td>{% if(entry.accountingType=='DEBIT') %} {{ entry.amount }} {% endif %}</td>
							<td>{{ entry.notes }} </td>
							
						</tr>
						{% endfor %}
						<tr>
							<td><b>TOTAL</b></td>
							<td></td>
							<td><b>{{ creditSum }}</b></td>
							<td><b>{{ debitSum }}</b></td>
							<td></td>
							
						</tr>
					</tbody>
				</table>
			</div>
			
				<button id="btnPosBook" type="button" class="btn btn-primary spacer">LIHAT BUKU POS</button>



		</div>
{% endblock %}