<!doctype html>
<head>
	<link rel="stylesheet" type="text/css" 
	href="{{ url_for('static',filename='css/bootstrap.css') }}">
	<script src="{{ url_for('static',filename='js/jquery-1.11.3.js') }}"></script>
	<script src="{{ url_for('static',filename='js/bootstrap.js') }}"></script>
	
	<script type="text/javascript">

	var rowParser = function(value){
		var text = 
		"<td>"+value['date']+"</td>"+ 
		"<td>"+value['description']+"</td>"+ 
		"<td>"+value['amount']+"</td>";
		if(value['cashType']=="Debit"){
			text = text+"<td></td><td></td><td></td>";
		}
		else
		{
			text =  "<td></td><td></td><td></td>" +text;
		}
		return "<tr>"+text+"</tr>";
	};

	$(document).ready(function(){


		$("#btnSubmit").click(function(){
			var formData = {
				'cashType' : $('#cashType').find('span:first').text(),
				'date' : new Date().toLocaleDateString(),
				'amount' : $('input[name=amount]').val(),
				'description' : $('input[name=description]').val()

			};
			$('#mainTable tbody').append(rowParser(formData));

		});

		$(".selectCashType").click(function(){
			cashType = $(this).text();
			$('#cashType').find('span:first').text(cashType);
		});


	});


	</script>
</head>
<style type="text/css">
table, th,td{
	border: 1px solid black;
	border-collapse: collapse;
}
th,td{
	padding: 5px;
	text-align: left;
}
thead td{
	text-align: center;
}
</style>
<body>
	<div class="container">
		<div class="panel panel-primary">
			<div class="panel-heading">
				Sales Account
			</div>
			<table class="table table-striped" id="mainTable">
				<thead>
					<tr>
						<td colspan="3">Debit</td>
						<td colspan="3">Credit</td>
					</tr>
					<tr>
						<td>Date</td>
						<td>Description</td>
						<td>Amount</td>
						<td>Date</td>
						<td>Description</td>
						<td>Amount</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>26/07/2015</td>
						<td>Jual Sepatu</td>
						<td>100.000</td>
						<td></td>
						<td></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td></td>
						<td></td>

						<td>26/07/2015</td>
						<td>Jual Sepatu</td>
						<td>100.000</td>
					</tr>
				</tbody>
			</table>
		</div>
		

		<div class="container-fluid">
			<form class="form-inline">
				<div class="form-group">
					<label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="cashType">
							<span> 
								Debit
							</span>
							<span class="caret">
							</span>
						</button>
						<ul class="dropdown-menu">
							<li><a href="javascript:void(0)" class="selectCashType">Debit</a></li>
							<li><a href="javascript:void(0)" class="selectCashType">Credit</a></li>
						</ul>
					</div>

					<input type="text" class="form-control" placeholder="Description" name="description">
					<div class="input-group">

						<div class="input-group-addon">Rp.</div>
						<input type="text" class="form-control" name="amount" placeholder="Amount">
					</div>
				</div>
				<button id="btnSubmit" type="button" class="btn btn-primary">Transfer cash</button>
			</form>
		</div>
	</div>
</body>